* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--base-variant);
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  padding: 5% 3%;
  display: block;
  overflow-x: hidden;
  max-width: 100vw;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  background-color: #468236;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-block: 15px 0;
}

.logo {
  margin-left: 10px;
  margin-right: 30px;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logo-and-font {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.menu-logo img {
  height: 40px;
  display: block;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

.menu ul li {
  margin: 0 20px;
}

.menu ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.125rem;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
}

.menu ul li a:hover {
  color: #1abc9c;
  border-bottom: 2px solid #1abc9c;
}

form {
  font-size: calc(1rem * var(--font-scale));
  padding: calc(3rem * var(--font-scale));
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  max-width: 90vw;
  background: var(--base-variant);
  border-radius: 0.8rem;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
}

label {
  width: 100%;
  color: #2e7d32;
  color: var(--text-color);
  align-self: flex-start;
  transition: 0.15s linear;
  font-weight: 600;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #000;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.darkmode select {
  background-color: #696767;
  color: #eee;
  border: 1px solid #8d8c8c;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.darkmode select option {
  background-color: #696767;
  color: #eee;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #468236;
  background-color: #eafbe7;
}

.darkmode input,
.darkmode textarea {
  background-color: #696767;
  color: #eee;
  border: 1px solid #8d8c8c;
}

.darkmode input:focus,
.darkmode select:focus,
.darkmode textarea:focus {
  background-color: #555;
  border-color: #468236;
  color: #eee;
  outline: none;
}

.darkmode .upload-box input[type="file"] {
  border: 2px dashed #555;
  background-color: #3a3a3a;
  color: #eee;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: border 0.3s;
}

.darkmode .upload-box input[type="file"]:hover {
  border-color: #76c891;
}

/* Estilo normal do botão "Escolher arquivo" */
input[type="file"]::-webkit-file-upload-button {
  color: #fff;
  background: #468236;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="file"]::-webkit-file-upload-button:hover {
  background: #346329;
}

.darkmode input[type="file"]::-webkit-file-upload-button {
  color: #fff;
  background: #3e6d34;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.darkmode input[type="file"]::-webkit-file-upload-button:hover {
  background: #2e7d32;
}


button[type="submit"] {
  background-color: #468236;
  color: white;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.label:focus-within {
  color: #42c83d;
}

button[type="submit"]:hover {
  background-color: #346329;
}

#menu-toggle {
  display: none;
  font-size: 28px;
  color: #ecf0f1;
  cursor: pointer;
  position: relative;
  z-index: 1100;
  user-select: none;
  padding: 0 20px;
  background: none;
  border: none;
  flex-shrink: 0;
}

#menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #ecf0f1;
  margin: 5px 0;
  transition: 0.3s;
}

#menu-list {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu-list li {
  margin: 0;
}

#genero-group label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #2e7d32;
}

#genero-group input[type="radio"] {
  margin: 0;
  cursor: pointer;
}

body.dark {
  background: #121613;
  color: #f0f0f0;
}

:root {
  --base-color: #F5EEDD;
  --base-variant: #F5EEDD;
  --text-color: black;
  --secondary-text: #333;
  --primary-color: #468236;
  --accent-color: #1abc9c;
  --font-scale: 1;
}

.darkmode {
  --base-color: #000000;
  --base-variant: #272727;
  --text-color: #ffffff;
  --secondary-text: #cccccc;
  --primary-color: #468236;
  --accent-color: #48d68c;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 500;
}

#theme-switch svg {
  display: none;
  width: 24px;
  height: 24px;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

.darkmode .menu {
  background-color: #2d593f;
}

.darkmode h1 {
  color: white;
}

.darkmode p {
  color: #DCD7C9;
}

.darkmode legend {
  color: #DCD7C9;
}

.darkmode h2 {
  color: #fcfaf6
}

#btn-buscar {
  background-color: #2e7d32;
  color: white;
  padding: 1rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#btn-buscar:hover {
  background-color: #346329;
  transform: translateY(-2px);
}

#btn-buscar:active {
  transform: translateY(1px);
  background-color: #1b5e20;
}



#pontos-coleta-container {
  text-align: center;
  margin-top: 30px;
}

#lista-pontos {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  color: #1b1b1b;
}

#lista-pontos li {
  margin: 10px auto;
  padding: 10px;
  max-width: 500px;
  background-color: #e8f5e9;
  border-left: 5px solid #2e7d32;
  border-radius: 6px;
  text-align: left;
}

.upload-box button {
  background-color: #2e7d32;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.upload-box label {
  font-weight: 600;
  color: #065f46;
  display: block;
  margin-bottom: 8px;
  font-size: 1.1rem;
}

.upload-box input[type="file"] {
  border: 2px dashed #86efac;
  background-color: #ecfdf5;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  transition: border 0.3s;
}

.upload-box input[type="file"]:hover {
  border-color: #4ade80;
}

.upload-box button {
  background-color: #2e7d32;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.upload-box button:hover {
  background-color: #346329;
}

/*tema escuro API*/

.darkmode #lista-pontos li {
  background-color: #555353;
  border-left: 5px solid #3e6d34;
  color: #e0dfdf;
}

.darkmode #lista-pontos a {
  color: #8decb4;
}

.darkmode #lista-pontos small.ewaste {
  color: #76ff03;
}

.darkmode #lista-pontos small.geral {
  color: #ffb300;
}

/*icone spiner loading*/

@keyframes girar {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.img-loading {
  animation: girar 1.5s linear infinite;
}

#increase-font,
#decrease-font {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin-left: 0;
}

#increase-font:hover,
#decrease-font:hover {
  background-color: var(--accent-color);
}

#increase-font,
#decrease-font {
  background-color: white;
  border: 1px solid black;
  color: black;
}

#increase-font:hover,
#decrease-font:hover {
  background-color: #f0f0f0;
  color: black;
  border-color: black;
}

#font-buttons {
  position: fixed;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 900;
}

html {
  font-size: 18px;
  --font-scale: 1;
}

span,
label,
a,
li,
input,
button,
.menu ul li a {
  font-size: calc(1rem * var(--font-scale));
}

textarea {
  font-size: calc(0.95rem * var(--font-scale));
}

h1 {
  font-size: calc(2rem * var(--font-scale));
}

h2 {
  font-size: calc(1.5rem * var(--font-scale));
}

h3 {
  font-size: calc(1.125rem * var(--font-scale));
}

p {
  font-size: calc(1rem * var(--font-scale));
}

#increase-font,
#decrease-font {
  font-size: 1rem;
}

textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  resize: vertical;
  overflow-wrap: break-word;
  word-break: break-word;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

/* ==== TEMA ALTO CONTRASTE ==== */
.high-contrast {
  --base-color: #000;
  --base-variant: #000;
  --text-color: #fff;
  --secondary-text: #ff0;
  --primary-color: #fff;
  --accent-color: #f00;
  background-color: #000 !important;
  color: #fff !important;
}

.high-contrast body,
.high-contrast p,
.high-contrast label,
.high-contrast h1,
.high-contrast h2,
.high-contrast legend,
.high-contrast li,
.high-contrast a {
  color: #eeff00 !important;
  background-color: #000 !important;
}

.high-contrast input,
.high-contrast select,
.high-contrast textarea {
  background-color: #000 !important;
  color: #37ff00 !important;
  border: 2px solid #37ff00 !important;
}

.high-contrast .menu,
.high-contrast .upload-box button,
.high-contrast #btn-buscar, 
.high-contrast button[type="submit"] {
  background-color: #000000 !important;
  color: #fffb00 !important;
  border: 2px solid #37ff00 !important;
}

.high-contrast .upload-box input[type="file"] {
  background-color: #000 !important;
  color: #ffffff !important;
  border: 2px dashed #37ff00 !important;
}

.high-contrast input[type="file"]::-webkit-file-upload-button {
  color: #fff;
  background: #2ed600;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.high-contrast #theme-switch svg {
  fill: #37ff00;
}

#contrast-toggle {
  position: fixed;
  top: 170px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: #37ff00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  cursor: pointer;
  transition: background 0.3s ease;
}

#contrast-toggle svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

#contrast-toggle .contrast-on {
  display: none;
}

body.high-contrast #contrast-toggle .contrast-off {
  display: none;
}

body.high-contrast #contrast-toggle .contrast-on {
  display: block;
}

.theme-contrast .theme-button {
  color: black;
}

.menu svg,
.menu i {
  color: #e5ff00;
  fill: currentColor;
}

.darkmode .menu svg,
.darkmode .menu i {
  color: #e5ff00;
  fill: currentColor;
}

/*cor dos icones */
#theme-switch svg {
  fill: #468236;
  /
}

.darkmode #theme-switch svg {
  fill: #468236;

}

.high-contrast #theme-switch svg {
  fill: #468236;

}

.high-contrast.darkmode {
  --base-color: #000 !important;
  --base-variant: #000 !important;
  --text-color: #fff !important;
  --primary-color: #fff !important;
  --accent-color: #f00 !important;
  background-color: #000 !important;
  color: #fff !important;
}

.high-contrast.darkmode *,
.high-contrast.darkmode body {
  background-color: #000 !important;
  color: #fff !important;
}

#theme-switch {
  color: #37ff00;
}

.darkmode #theme-switch {
  color: #37ff00;
}

.high-contrast #theme-switch {
  color: #37ff00;
}

.icon-light,
.icon-dark,
.icon-contrast {
  display: none;
}

html[data-theme='light'] .icon-light {
  display: inline;
}

html[data-theme='dark'] .icon-dark {
  display: inline;
}

html[data-theme='contrast'] .icon-contrast {
  display: inline;
}

#theme-switch svg {
  display: none;
  width: 24px;
  height: 24px;
}

#theme-switch svg.inline {
  display: inline;
}

/* Alto contraste da API */
.high-contrast #lista-pontos li {
  background-color: #000 !important;
  border-left: 5px solid #37ff00 !important;
  color: #eeff00 !important;
}

.high-contrast #lista-pontos a {
  color: #00f6ff !important;
  text-decoration: underline;
}

.high-contrast #lista-pontos small.ewaste {
  color: #37ff00 !important;
}

.high-contrast #lista-pontos small.geral {
  color: #ffff00 !important;
}

.high-contrast #theme-switch,
.high-contrast #increase-font,
.high-contrast #decrease-font {
  background-color: #000 !important;
  color: #37ff00 !important;
  fill: #37ff00 !important;
  border: 2px solid #37ff00 !important;
  border-radius: 50% !important;
  box-shadow: none !important;
}

.high-contrast #theme-switch svg {
  fill: #37ff00 !important;
}

.high-contrast .menu ul li a:hover {
  color: #00ffff !important;
  border-bottom: 2px solid #00ffff !important;
}

.high-contrast #menu-list.show {
  background-color: #000 !important;
}

.high-contrast button:hover,
.high-contrast #increase-font:hover,
.high-contrast #decrease-font:hover {
  background-color: #111 !important;
  color: #ff0 !important;
  border-color: #ff0 !important;
}

.high-contrast footer {
  border-top: 2px solid #37ff00 !important;
}

.high-contrast form {
  background-color: #000 !important;
  border: 2px solid #37ff00 !important;
}

#contrast-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #00ffdd;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  z-index: 9999;
  display: none;
  animation: fadeInOut 4s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }

  10%,
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
}

.high-contrast #menu-toggle {
  background-color: #000 !important;
  color: #ffff00 !important;
  fill: #ffff00 !important;
}

@media (max-width: 768px) {

  #menu-toggle {
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    color: #ecf0f1;
    background: none;
    border: none;
    padding: 0;
    margin-right: 0;
    display: block;
    transition: color 0.3s;
  }

  #menu-toggle:hover {
    color: #1abc9c;
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
    width: 100%;
  }

  .logo {
    margin-left: 0;
  }

  .logo img {
    height: 30px !important;
    display: block;
  }

  .menu ul {
    display: none;
  }

  #menu-list {
    display: none;
    flex-direction: column;
    gap: 0;
  }

  #menu-list.show {
    display: flex !important;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #468236;
    padding: 10px 0;
    z-index: 999;
    flex-direction: column;
    align-items: center;
  }

  #menu-list li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }

  #menu-list li a {
    font-size: 1rem;
    display: block;
    width: 100%;
  }

  .menu {
    height: 60px !important;
    padding: 5px 10px !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .img-banner {
    width: 90%;
    height: auto;
  }

  h2 {
    font-size: calc(1.5rem * var(--font-scale));
    margin: 30px 0 10px;
  }

  h1 {
    font-size: calc(2rem * var(--font-scale));
    margin: 30px 0 10px;
  }

  p {
    font-size: 1rem;
    padding: calc(1rem * var(--font-scale));
    color: var(--text-color);
  }

  body {
    padding-top: 100px;
  }

  .darkmode #menu-list.show {
    display: flex !important;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #2d593f;
    padding: 10px 0;
    z-index: 999;
    flex-direction: column;
    align-items: center;
  }

  textarea {
    width: 100%;
    font-size: calc(1rem * var(--font-scale));
    resize: vertical;
    box-sizing: border-box;
  }

  form {
    padding: 1rem;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
  }

   .form-grid {
    grid-template-columns: 1fr !important;
    padding: 1rem;
  }

  .genero-textarea-container {
    grid-template-columns: 1fr !important;
  }

  .campo,
  .upload-box,
  .form-buttons {
    width: 100%;
  }

}

/* Grid de duas colunas no formulário */
form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

/* Cada item ocupa 1 coluna */
form label,
form input,
form select,
form textarea,
form .upload-box {
  grid-column: span 1;
}

/* Elementos que devem ocupar 100% da largura */
form h1,
form p,
form hr,
form legend {
  grid-column: 1 / -1;
}

/* Botões lado a lado */
.form-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-buttons button[type="submit"],
.form-buttons #btn-buscar {
  width: 100%;
  max-width: 100%;
}

.form-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

.form-buttons button {
  flex: 1;
  padding: 1rem 0;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Lista da API abaixo dos botões */
#pontos-coleta-container {
  grid-column: 1 / -1;
  margin-top: 0;
  padding-top: 0;
  display: contents;
}

#lista-pontos {
  grid-column: 1 / -1;
  margin-top: 1rem;
}

/* Responsividade */
@media (max-width: 600px) {
  .form-buttons {
    flex-direction: column;
    align-items: stretch;
  }

  .form-buttons button {
    width: 100%;
  }

  .form-buttons {
    grid-template-columns: 1fr;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2rem;
  padding: 2rem;
}

/* Elementos que devem ocupar as 2 colunas */
.form-grid h1,
.form-grid p,
.form-grid hr,
.form-grid legend,
.form-grid .form-buttons,
.form-grid #lista-pontos {
  grid-column: 1 / -1;
}

/* Upload ocupa uma coluna inteira */
.upload-box {
  grid-column: 1 / -1;
}

/* Ajustes para o grid do formulário */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Duas colunas de largura igual */
  gap: 1.5rem 2rem;
  padding: 2rem;
}

/* Elementos que ocupam as 2 colunas */
.form-grid h1,
.form-grid p,
.form-grid hr,
.form-grid legend,
.form-grid .form-buttons,
.form-grid #lista-pontos {
  grid-column: 1 / -1;
}

/* Container principal que segura gênero e textarea lado a lado */
.genero-textarea-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
}

#genero-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

#genero-group label {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var#42c83d;
  line-height: 1.2;
}

#genero-group input[type="radio"] {
  width: 18px;
  height: 18px;
  margin: 0;
}
